{% extends "starter.html" %}
{% block body %}
<div class="content-wrapper">
<!-- form start -->
<form role="form" id="quickForm" action="/Admin/home/addcategory" method="post">
  <div class="card-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Category name</label>
      <input type="text" name="product_category" class="form-control col-md-5" id="exampleInputEmail1" placeholder="Category Name">
    </div>
    <span style="color:red">{{errors.product_category}}</span>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
</div>

{% endblock %}
