{% extends "starter.html" %}
{% block body %}
<div class="content-wrapper">
<!-- form start -->
<form role="form" id="quickForm" action="/Admin/Home/resetadminpassword" method="post">
  <div class="card-body">
    <div class="form-group">
      <label for="exampleInputEmail1">New Password</label>
      <input type="password" name="new_password" class="form-control col-md-5" id="exampleInputEmail1" placeholder="New password">
    </div>
    <span style="color:red;">{{errors.new_password}}</span>
    {% if id %}
    <input type="hidden" name="id" value="{{id}}">
    {% endif %}
  </div>
  <div class="card-footer">
    <button type="submit" name="resetButton" class="btn btn-primary">Reset Password</button>
  </div>
</form>
</div>

{% endblock %}
