{% extends 'starter.html' %}
{% block body %}
<div class="content-wrapper" style="display:flex;justify-content:center;align-items:center;">
  <!-- right column -->
  <div class="col-md-6">
    <!-- general form elements disabled -->
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Notification</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form role="form">
          <p>Your invitation has been sent.<p>
          </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

{% endblock%}
