{% extends "starter.html" %}
{% block body %}
 {% if totalTransactions > 0%}
<div class="content-wrapper">
  <!-- Table row -->
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Qty</th>
          <th>Product</th>
          <th>Reference</th>
          <th>Client</th>
          <th>Payment Status</th>
          <th>Delivery status</th>
          <th>Subtotal</th>
          <th>Deliver Product(s)</th>
        </tr>
        </thead>
        <tbody>
          {% for transaction in transactions_per_page %}
        <tr>
          <td>{{transaction.quantity}}</td>
          <td>{{transaction.products}}</td>
          <td>{{transaction.transaction_ref}}</td>
          <td>{{transaction.username}}</td>
          {% if transaction.payment_status  > 0 %}
          <td>Confirmed</td>
          {% else %}
          <td>Pending</td>
          {% endif %}
          {% if transaction.delivered_by and transaction.is_delivered %}
                <td>Delivered by {{transaction.delivered_by}}</td>
          {% elseif transaction.delivered_by or transaction.is_delivered %}
               <td>Processing</td>
          {% else %}
              <td>Pending</td>
          {% endif %}
          <td>&#8358 {{transaction.amount/100}}</td>
          {% if not transaction.delivered_by %}
              <!-- Button trigger modal -->
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{transaction.transaction_ref}}">
              Confirm delivery
            </button></td>
          {% endif %}
        </tr>
        <!-- test modal -->

        <!-- end test -->
        <!-- modal window -->
        <div class="modal fade" id="{{transaction.transaction_ref}}" tabindex="-1" role="dialog" aria-labelledby="#{{transaction.transaction_ref}}Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="{{transaction.transaction_ref}}Title"><strong>Confirm Delivery?</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to confirm delivery?</p>
            </div>
              <div class="modal-footer" style="display:flex;justify-content:space-between;">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a href="/Admin/home/confirmdelivery/{{transaction.transaction_ref}}" class="btn btn-primary">Confirm</a>
              </div>
            </div>
          </div>
        </div>
          <!-- end modal window section -->

        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      {% for i in paginatedPages %}

      {% if i > 1 %}
      <li class="page-item"><a class="page-link" href="/Admin/home/{{ i - 1 }}/viewpaginatedtransaction">&laquo;</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="/Admin/home/{{i}}/viewpaginatedtransaction">{{i}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

  {% else %}
    <div class="content-wrapper">
      <h2>You currently have no transaction(s).</h2>
    </div>
  {% endif %}
{% endblock %}
