{% extends "base.html" %}
{% block body %}
<div class="page-header header-filter" style="background-image: url('https://res.cloudinary.com/techwise/image/upload/v1578213605/Openmall/micah-williams-lmFJOx7hPc4-unsplash-min_hxrerx.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10 ml-auto mr-auto">
     <div class="content-wrapper" style="display:flex;justify-content:center;align-items:center;">
         <!-- right column -->
          <div class="col-md-6">
           <!-- general form elements disabled -->
              <div class="card card-warning">
                <div class="card-header">
                  <h3 class="card-title">Notification</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <p>Account activation failed.</p>
                </div>
                </div>
                <!-- /.card-body -->
        </div>
      <!-- /.card -->
    </div>
   </div>
  </div>
 </div>
</div>

{% endblock %}
