{% extends "email_template.html" %}
{% block body %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="h1 pb25" style="color:#ffffff; font-family:'Muli', Arial,sans-serif; font-size:40px; line-height:46px; text-align:center; padding-bottom:25px;"><multiline>Welcome</multiline></td>
  </tr>
  <tr>
    <td class="text-center pb25" style="color:#c1cddc; font-family:'Muli', Arial,sans-serif; font-size:16px; line-height:30px; text-align:center; padding-bottom:25px;"><multiline>Please click on the button below to activate your {% if store %} {{store}} {% endif %} account.<span class="m-hide"><br /></span>You will be redirected to the account activation page.</multiline>
</td>
  </tr>
  <!-- Button -->
  <tr>
    <td align="center">
      <table class="center" border="0" cellspacing="0" cellpadding="0" style="text-align:center;">
        <tr>
          <td class="pink-button text-button" style="background:#ff6666; color:#c1cddc; font-family:'Muli', Arial,sans-serif; font-size:14px; line-height:18px; padding:12px 30px; text-align:center; border-radius:0px 22px 22px 22px; font-weight:bold;"><multiline><a href="{{url}}" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none;"><span class="link-white" style="color:#ffffff; text-decoration:none;">CLICK HERE</span></a></multiline></td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- END Button -->
</table>
{% endblock%}
