{% extends "base.html" %}
{% block body %}
<div class="page-header header-filter" style="background-image: url('https://res.cloudinary.com/techwise/image/upload/v1578213605/Openmall/micah-williams-lmFJOx7hPc4-unsplash-min_hxrerx.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" action="/users/registeruser" method="post">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">Sign up now, why wait?</h4>
            </div>

            <div class="card-body">
              <div class="input-group">
                   <input type="text" class="form-control" name="username" value="{{user.username}}" placeholder="Username" required autofocus>
              </div>
                   <span class="input-group-text" style="color:red;">{{errors.username}}</span>
              <div class="input-group">
                <input type="email" class="form-control" name="email" value="{{user.email}}" placeholder="Email" required>
              </div>
              <span class="input-group-text" style="color:red;">{{errors.email}}</span>
              <div class="input-group">
                <input type="password" class="form-control" name="password" placeholder="Password..." required>

              </div>
              <span class="input-group-text" style="color:red;">{{errors.password}}</span>
            </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
