{% extends "base.html" %}
{% block body %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('https://res.cloudinary.com/techwise/image/upload/v1578213205/Openmall/kit-suman-urQXMoQ2hk4-unsplash-min_wi6k2i.jpg')">
  <div class="container">
      <div class="row">
      <div class="col-md-6">
        <h1 class="title">Open Mall</h1>
        <h4>Also known as eShop is an ecommerce prototype developed by Nurudeen Qoyyum Timilehin to bring ecommerce experience to all users.</h4>
        <br>
        <a href="/users/bookastore" class="btn btn-danger btn-raised btn-lg">
          Book a store
        </a>
        <br>
        <a href="/home/storeindex" class="btn btn-danger btn-raised btn-lg">
          Explore
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">How it works</h2>
          <h5 class="description">There are three types of accounts on this platform, you can either book a store by creating a store account or become staff by accepting an invitation from a store admin in your email address. The third account is the buyers' account which is required when you want to purchase an item from the store. All users' details are kept private on this platform as we do not share your registration details with anyone.</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <!-- <i class="material-icons">chat</i> -->
                <i class="fas fa-store"></i>
              </div>
              <h4 class="info-title">Store account</h4>
              <p>The store account enables you to put yourself in the position of store manager. You can create a store account by clicking on the book a store button. You will be able to upload your products, manage employees and other features related to the store. You can access your store account by clicking on the login button.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="fas fa-user"></i>
              </div>
              <h4 class="info-title">Staff account</h4>
              <p>An employee account can be created by clicking an invitation link sent to your email address from a store manager.If a store manager sent you an email, it means he or she knows you and wants you to manage his or her transactions. We do not share personal information with anyone.A staff account can be accessed using the staff login button</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="fas fa-users"></i>
              </div>
              <h4 class="info-title">Buyer account</h4>
              <p>A buyer account is required to purchase an item from the store. Use the signup button to create a buyer account. Once account is activated, you can log in using the login button.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title" style="color:red;">Notice</h2>
            <h5 class="description">You are not expected to enter your card details when making payment. The aim of this project is to bring eCommerce experience to all users, not to function as a real one. As a result of this, all payment process has been designed to be in demo version. Make sure you select the test card option when making payment to prevent money from being deducted from your account. We are not responsible for any harm caused as a result of your ignorance or negligence.</h5>
            <p class="description">However, if you want the full version of the application, you can contact me on linkedin me by clicking <a href="https://www.linkedin.com/in/qoyyum-nurudeen-13ba00169">HERE.</a></p>
          </div>
        </div>
      </div>
    <!-- </div>     -->
    <div class="text-center">
      <h2 class="title">About</h2>
      <div class="team">
        <div class="row" style="display:flex;justify-content:center;">
          <div class="col-md-8">
            <div class="team-player">
              <div class="card card-plain">
                <div class= "ml-auto mr-auto col-md-4 ">
                  <img src="https://res.cloudinary.com/techwise/image/upload/v1578212681/Openmall/abdul-qoyyum_lxhkp6.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="width:60%;">
                </div>
                <h4 class="card-title">Abdul-Qoyyum
                  <br>
                  <small class="card-description text-muted">Software Developer</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">A full-stack developer with the ambition of bringing new ideas into the world of software technology. Specialize in web design and development. Also a hybrid mobile application developer.</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="https://twitter.com/OfficialNQT" target="_blank" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.instagram.com/nurudeen_qoyyum_timilehin/" target="_blank"class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/qoyyum-nurudeen-13ba00169" target="_blank" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
